@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/MontserratSemiBold.woff2') format('woff2'),
    url('../fonts/MontserratSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/MontserratBold.woff2') format('woff2'),
    url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/MontserratRegular.woff2') format('woff2'),
    url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/MontserratMedium.woff2') format('woff2'),
    url('../fonts/MontserratMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/MontserratExtraBold.woff2') format('woff2'),
    url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: wrap;
}

html {
  box-sizing: border-box;
  line-height: 1;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --elipse-18-color: #000;
  --elipse-16-color: #414141;
  --elipse-19-color: #666;
  --elipse-20-color: rgba(0, 0, 0, 0.5);
  --elipse-21-color: #cacaca;
  --elipse-17-color: #fff;
  --elipse-15-color: #0060b9;
  --elipse-13-color: #3e5bff;
  --elipse-12-color: #005FA3;
}

/*для всех*/
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: floralwhite;
}

main {
  padding-top: 100px;
}

.list--reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1800px;
}

.flex {
  display: flex;
}

.h2 {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--elipse-18-color, #000);
}

.h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--elipse-18-color, #000);
}

.descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--elipse-18-color, #000);
}

.btn--reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  min-width: 100px;
  border: 1px solid var(--elipse-12-color);
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  transition-property: background-color, border-color, color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:active {
  transform: none;
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}

/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 14px 0;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
  background-color: ghostwhite;
}

.header__container {
  align-items: center;
  justify-content: space-between;
}

.header__burger--btn {
  display: none;
}

.header__logo {
  align-items: center;
  margin-right: 10px;
  width: 225px;
  height: 72px;
}

.header__img {
  margin-right: 20px;
}

.header__logo span {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.header__right {
  justify-content: space-between;
  min-width: 56%;
}

.header__nav {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 20px;
}

.header__nav--list {
  height: 100%;
  align-items: center;
}

.header__nav--item:not(:last-child) {
  margin-right: 85px;
}

.header__nav--item--reviews {
  display: none;
}

.header__nav--link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--elipse-18-color);
  transition: color 0.2s linear;
}

.header__nav--link.focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--elipse-12-color, #FF9900);
}

.header__nav--link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: -7px;
  width: 100%;
  height: 3px;
  background-color: var(--elipse-12-color, #FF9900);
  outline: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
}

.header__nav--link:hover::after {
  outline: none;
  opacity: 1;
}

.header__nav--link:hover {
  outline: none;
}

.header__nav--link:active::after {
  outline: none;
  background-color: var(--elipse-15-color, #E1670E);
  opacity: 1;
}

.header__nav--link:active {
  outline: none;
  color: var(--elipse-15-color, #E1670E);
}

.header__search--btn {
  width: 24px;
  height: 24px;
}

.header__search--btn svg rect {
  fill: var(--elipse-18-color, #000);
  transition: fill 0.3s ease-in-out;
}

.header__search--btn svg path {
  stroke: var(--elipse-18-color, #000);
  transition: stroke 0.3s ease-in-out;
}

.header__search--btn.focus-visible {
  outline-offset: 4px;
  outline: 2px solid var(--elipse-12-color, #FF9900);
}

.header__search--btn:hover svg rect {
  fill: var(--elipse-12-color, #FF9900);
}

.header__search--btn:hover svg path {
  stroke: var(--elipse-12-color, #FF9900);
}

.header__search--btn:hover {
  outline: none;
}

.header__search--btn:active svg rect {
  fill: var(--elipse-12-color, #FF9900);
  outline: none;
}

.header__search--btn:active svg path {
  stroke: var(--elipse-12-color, #FF9900);
  outline: none;
}

.header__search--btn:active {
  outline: none;
}

.header__form {
  position: fixed;
  top: 1px;
  right: 0px;
  z-index: 50;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  padding: 16px 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  background-color: var(--elipse-17-color);
  visibility: hidden;
  transform: translateY(-120px);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.header__form--active {
  visibility: visible;
  transform: none;
}

.header__form--input {
  margin: 0;
  margin-right: 14px;
  padding: 0;
  border: none;
  outline: none;
  width: 412px;
  border-radius: 0;
  border-bottom: 1px solid var(--elipse-21-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header__form--input::placeholder {
  color: var(--elipse-21-color);
}

.header__form--btn {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.header__form--close {
  width: 24px;
  height: 24px;
}

.header__form .header__form--close svg rect {
  fill: var(--elipse-21-color);
  transition: fill 0.3s ease-in-out;
}

.header__form .header__form--close svg circle {
  stroke: var(--elipse-21-color);
  transition: stroke 0.3s ease-in-out;
}

.header__form .header__form--close.focus-visible {
  outline-offset: 4px;
  outline: 2px solid var(--elipse-12-color);
}

.header__form .header__form--close:hover svg rect {
  fill: var(--elipse-12-color);
}

.header__form .header__form--close:hover svg circle {
  stroke: var(--elipse-12-color);
}

.header__form .header__form--close:hover {
  outline: none;
}

.header__form .header__form--close:active svg rect {
  fill: var(--elipse-18-color);
}

.header__form .header__form--close:active svg circle {
  stroke: var(--elipse-18-color);
}

.header__form .header__form--close:active {
  outline: none;
}

/*hero*/
.hero {
  padding-top: 50px;
}

.swiper {
  border-radius: 32px;
  overflow: hidden;
  height: 620px;
  max-width: 1770px;
}

.hero__content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 100px 80px;
}

.hero__h1 {
  position: relative;
  z-index: 10;
  margin: 0;
  margin-bottom: 24px;
  max-width: 840px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: aqua;
}

.hero__descr {
  position: relative;
  z-index: 10;
  margin-bottom: 90px;
  max-width: 840px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: aqua;
}

.hero__btn {
  position: relative;
  z-index: 10;
  padding: 24px 38px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  background-color: var(--elipse-12-color, #FF9900);
  color: var(--elipse-17-color, #fff);
}

.hero__btn.focus-visible {
  background-color: var(--elipse-13-color, #FFB84D);
  border-color: var(--elipse-13-color, #FFB84D);
}

.hero__btn:hover {
  background-color: var(--elipse-13-color, #FFB84D);
  border-color: var(--elipse-13-color, #FFB84D);
}

.hero__btn:active {
  background-color: var(--elipse-15-color, #E1670E);
  border-color: var(--elipse-15-color, #E1670E);
}

.swiper-slide {
  border-radius: 32px;
  overflow: hidden;
  background-color: var(--elipse-16-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide-1 {
  background-image: url(../img/hero-1.jpg);
  background-position-y: -100px;
}

.swiper-slide-2 {
  background-image: url(../img/hero-2.jpg);
  background-position-y: -200px;
}

.swiper-slide-3 {
  background-image: url(../img/hero-3.jpg);
  background-position-y: top;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 0;
  background: var(--elipse-21-color);
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child),
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: var(--elipse-17-color);
}

/*about*/
.about {
  padding-top: 50px;
}

.about__content--top {
  margin-bottom: 50px;
}

.about__h2 {
  margin-bottom: 20px;
}

.about__descr {
  max-width: 1235px;
}

.about__descr a {
  color: var(--elipse-12-color);
  border-bottom: 1px solid var(--elipse-12-color);
}

.about__content--bottom {
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 32px;
}

.about__list--left {
  flex-grow: 1;
  width: 46%;
  max-width: 100%;
}

.about__item--left {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 622px;
  border-radius: 32px;
  overflow: hidden;
}

.about__item--left #myMap-1 {
  width: 100%;
  height: 100%;
}

[class*="copyrights-pane"] {
  display: none;
}

.about__item--content--left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  max-height: 100%;
  min-height: 196px;
  align-items: center;
  padding: 50px;
  border-radius: inherit;
  background-color: var(--elipse-20-color, rgba(0, 0, 0, 0.5));
}

.about__descr--left {
  margin-right: 10px;
  max-width: 433px;
  font-style: normal;
}

.about__address--left {
  margin: 0;
  font-weight: 700;
  color: var(--elipse-17-color);
}

.about__btn--left {
  padding: 17px 35px;
  border: 3px solid var(--elipse-12-color);
  color: var(--elipse-17-color);
}

.about__btn--left.focus-visible {
  background-color: var(--elipse-12-color, #FF9900);
  border-color: var(--elipse-12-color, #FF9900);
}

.about__btn--left:hover {
  background-color: var(--elipse-12-color, #FF9900);
  border-color: var(--elipse-12-color, #FF9900);
}

.about__btn--left:active {
  background-color: var(--elipse-15-color, #E1670E);
  border-color: var(--elipse-15-color, #E1670E);
}

.about__list--right {
  flex-grow: 1;
  flex-direction: column;
  max-width: 100%;
  gap: 32px;
}

.about__item--right {
  align-items: center;
  padding: 64px 59px;
  height: 100%;
  border: 1px solid var(--elipse-21-color, #cacaca);
  border-radius: 32px;
  background-color: var(--elipse-17-color);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.about__item--right.focus-visible {
  background-color: var(--elipse-15-color);
}

.about__item--right:hover {
  background-color: var(--elipse-15-color);
}

.about__item--right:active {
  background-color: var(--elipse-15-color);
}

.about__item--svg--right {
  margin-right: 50px;
  width: 190px;
  height: 165px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__item--svg--right--1 {
  background-image: url(../img/about-svg-right-1.svg);
}

.about__item--svg--right--2 {
  background-image: url(../img/about-svg-right-2.svg);
}

.about__item--content--right {
  max-width: 455px;
}

.about__h3--right {
  margin-bottom: 8px;
  transition: color 0.3s ease-in-out;
}

.about__item--right.focus-visible .about__h3--right {
  color: var(--elipse-17-color);
}

.about__item--right:hover .about__h3--right {
  color: var(--elipse-17-color);
}

.about__item--right:active .about__h3--right {
  color: var(--elipse-17-color);
}

.about__descr--right {
  transition: color 0.3s ease-in-out;
}

.about__item--right.focus-visible .about__descr--right {
  color: var(--elipse-17-color);
}

.about__item--right:hover .about__descr--right {
  color: var(--elipse-17-color);
}

.about__item--right:active .about__descr--right {
  color: var(--elipse-17-color);
}

/* how */
.how {
  padding-top: 100px;
}

.how__content--top {
  margin-bottom: 45px;
}

.how__h2 {
  margin-bottom: 50px;
}

.how__list {
  align-items: center;
}

.how__item:not(:last-child) {
  margin-right: 85px;
}

.how__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--elipse-18-color, #000);
  transition: color 0.3s ease-in-out;
}

.how__link.focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--elipse-12-color, #FF9900);
}

.how__link:hover {
  outline: none;
  color: var(--elipse-12-color, #FF9900);
}

.how__link:active {
  outline: none;
  color: var(--elipse-15-color, #E1670E);
}

.how__content--bottom {
  flex-wrap: nowrap;
  column-gap: 142px;
  row-gap: 10px;
}

.how__article {
  flex-direction: column;
  justify-content: space-between;
  max-width: 758px;
  width: 100%;
}

.how__article--block {
  margin-bottom: 18px;
}

.how__h3 {
  margin-bottom: 8px;
  line-height: 32px;
}

.how__btn {
  padding: 18px 37px;
}

.how__btn:not(:last-child) {
  margin-right: 29px;
}

.how__btn--left {
  background-color: var(--elipse-12-color, #FF9900);
  color: var(--elipse-17-color, #fff);
}

.how__btn--left.focus-visible {
  background-color: var(--elipse-13-color, #FFB84D);
  border-color: var(--elipse-13-color, #FFB84D);
}

.how__btn--left:hover {
  background-color: var(--elipse-13-color, #FFB84D);
  border-color: var(--elipse-13-color, #FFB84D);
}

.how__btn--left:active {
  background-color: var(--elipse-15-color, #E1670E);
  border-color: var(--elipse-15-color, #E1670E);
}

.how__btn--right {
  border-color: var(--elipse-18-color, #000);
  font-weight: 400;
}

.how__btn--right.focus-visible {
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
  color: var(--elipse-17-color, #FFF);
}

.how__btn--right:hover {
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
  color: var(--elipse-17-color, #FFF);
}

.how__btn--right:active {
  background-color: var(--elipse-18-color, #000);
  border-color: var(--elipse-18-color, #000);
  color: var(--elipse-17-color, #FFF);
}

.how__img {
  border-radius: 32px;
  overflow: hidden;
  max-height: 100%;
  min-height: 467px;
  object-fit: cover;
}

.how__link--active {
  color: var(--elipse-15-color);
}

.how__content {
  display: none;
}

.how__content--active {
  display: block;
}

/* faq */
.faq {
  padding-top: 111px;
}

.faq__h2 {
  margin-bottom: 32px;
}

.faq__accordion--content {
  flex-direction: column;
}

.faq__link {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  outline: none;
  overflow: hidden;
  border-top: 1px solid var(--elipse-21-color, #CACACA);
  border-bottom: 1px solid var(--elipse-21-color, #CACACA);
  transition-property: border-top, border-bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.faq__link.focus-visible {
  outline: none;
  border-color: var(--elipse-12-color, #FF9900);
}

.faq__link.focus-visible .faq__h3 {
  outline: none;
  color: var(--elipse-12-color, #FF9900);
}

.faq__link.focus-visible .faq__svg svg path {
  outline: none;
  fill: var(--elipse-17-color, #FFF);
}

.faq__link.focus-visible .faq__svg svg ellipse {
  outline: none;
  fill: var(--elipse-12-color, #FF9900);
}

.faq__link:hover {
  outline: none;
  border-color: var(--elipse-12-color, #FF9900);
}

.faq__link:hover .faq__h3 {
  outline: none;
  color: var(--elipse-12-color, #FF9900);
}

.faq__link:hover .faq__svg svg path {
  outline: none;
  fill: var(--elipse-17-color, #FFF);
}

.faq__link:hover .faq__svg svg ellipse {
  outline: none;
  fill: var(--elipse-12-color, #FF9900);
}

.faq__link:active {
  outline: none;
  border-color: var(--elipse-21-color, #CACACA);
}

.faq__link:active .faq__h3 {
  outline: none;
  color: var(--elipse-18-color, #000);
}

.faq__link:active .faq__svg svg path {
  outline: none;
  fill: var(--elipse-18-color, #000);
}

.faq__link:active .faq__svg svg ellipse {
  outline: none;
  fill: var(--elipse-21-color, #CACACA);
}

.faq__accordion--trigger {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.faq__h3 {
  align-self: center;
  margin-right: 20px;
  max-width: 1105px;
  text-align: left;
  line-height: 33px;
  transition: color 0.3s ease-in-out;
}

.faq__svg {
  max-width: 50px;
  max-height: 50px;
  outline: none;
  transition: transform 0.5s ease-in-out;
}

.faq__accordion--active .faq__svg {
  transform: rotate(49deg);
}

.faq__svg svg {
  object-fit: contain;
}

.faq__svg svg ellipse {
  fill: var(--elipse-21-color, #CACACA);
  transition: fill 0.3s ease-in-out;
}

.faq__svg svg path {
  fill: var(--elipse-18-color, #000);
  transition: fill 0.3s ease-in-out;
}

.faq__accordion--panel {
  align-self: flex-start;
  max-width: 1005px;
}

.faq__accordion--text {
  margin: 0;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

/* footer */
.footer {
  margin-top: 100px;
  background-color: var(--elipse-18-color, #000);
}

.footer__container {
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__left {
  margin-right: 30px;
  min-width: 252px;
}

.footer__logo {
  align-items: center;
  margin-bottom: 20px;
  width: 224px;
  height: 72px;
}

.footer__logo img {
  margin-right: 20px;
}

.footer__logo span {
  font-family: 'Merriweather';
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005FA3;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__nav--link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--elipse-21-color, #CACACA);
  transition: color 0.3s ease-in-out;
}

.footer__nav--link.focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--elipse-12-color, #FF9900);
}

.footer__nav--link:hover {
  outline: none;
  color: var(--elipse-12-color, #FF9900);
}

.footer__nav--link:active {
  outline: none;
  color: var(--elipse-15-color, #E1670E);
}

.footer__social--link {
  display: block;
  max-height: 60px;
}

.footer__social--link svg path {
  fill: var(--elipse-19-color, #666);
  transition: fill 0.3s ease-in-out;
}

.footer__social--link.focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--elipse-12-color, #FF9900);
}

.footer__social--link:hover svg path {
  outline: none;
  fill: var(--elipse-12-color, #FF9900);
}

.footer__social--link:hover {
  outline: none;
}

.footer__social--link:active svg path {
  outline: none;
  fill: var(--elipse-15-color, #E1670E);
}

.footer__social--link:not(:last-child) {
  margin-right: 25px;
}

.footer__content--right {
  justify-content: space-between;
  min-width: 66%;
}

.footer__center {
  margin-right: 30px;
  max-width: 570px;
}

.footer__h2 {
  margin-bottom: 25px;
  color: var(--elipse-21-color, #CACACA);
}

.footer__form {
  flex-wrap: wrap;
  justify-content: center;
}

.footer__input {
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  padding: 14px 24px;
  background-color: var(--elipse-16-color, #414141);
  border: 1px solid var(--elipse-16-color, #414141);
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--elipse-17-color, #FFF);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.footer__input.focus-visible {
  outline: none;
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
}

.footer__input:hover {
  outline: none;
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
}

.footer__input:active {
  outline: none;
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
}

.footer__input::placeholder {
  color: var(--elipse-21-color, #CACACA);
}

.footer__textarea {
  margin-bottom: 32px;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 14px 24px;
  background-color: var(--elipse-16-color, #414141);
  border-radius: 16px;
  border: 1px solid var(--elipse-16-color, #414141);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--elipse-17-color, #FFF);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.footer__textarea.focus-visible {
  outline: none;
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
}

.footer__textarea:hover {
  outline: none;
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
}

.footer__textarea:active {
  outline: none;
  background-color: var(--elipse-19-color, #666);
  border-color: var(--elipse-19-color, #666);
}

.footer__textarea::placeholder {
  color: var(--elipse-21-color, #CACACA);
}

.footer__btn {
  padding: 18px 51px;
  background-color: var(--elipse-12-color, #FF9900);
  color: var(--elipse-17-color, #FFF);
}

.footer__btn.focus-visible {
  outline: none;
  border-color: var(--elipse-13-color, #FFB84D);
  background-color: var(--elipse-13-color, #FFB84D);
}

.footer__btn:hover {
  outline: none;
  border-color: var(--elipse-13-color, #FFB84D);
  background-color: var(--elipse-13-color, #FFB84D);
}

.footer__btn:active {
  outline: none;
  border-color: var(--elipse-15-color, #E1670E);
  background-color: var(--elipse-15-color, #E1670E);
}

.footer__right {
  align-self: center;
  max-width: 363px;
}

.footer__descr {
  color: var(--elipse-21-color, #CACACA);
}

@media (max-width: 1600px) {
  .about__content--bottom {
    flex-direction: column;
  }

  .about__list--left {
    width: 100%;
  }

  #myMap-1 .ymaps-2-1-79-map {
    height: 550px !important;
  }

  .about__item--left {
    max-height: 550px;
    min-height: 400px;
  }

  .about__descr--left {
    max-width: 60%;
  }
}

@media (max-width: 1500px) {
  .container {
    padding: 0 50px;
  }

  .header__right {
    min-width: 0;
  }

  .header {
    padding: 26px 0;
  }

  .header__burger--btn {
    position: relative;
    z-index: 20;
    display: block;
    width: 30px;
    height: 23px;
  }

  .header__burger--btn.focus-visible {
    outline-offset: 5px;
    outline: 2px solid var(--elipse-12-color);
  }

  .header__burger--line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: var(--elipse-18-color);
  }

  .header__burger--btn:active .header__burger--line {
    background-color: var(--elipse-15-color);
  }

  .header__burger--btn .header__burger--line {
    transition: background-color 0.3s ease-in-out;
  }

  .header__burger--btn:active {
    outline: none;
  }

  .header__burger--line:first-child {
    top: 0;
  }

  .header__burger--line:nth-child(2) {
    top: 44%;
    transform: translate(-50%);
  }

  .header__burger--line:last-child {
    bottom: 0;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 420px;
    height: 100vh;
    border-radius: 0px 0px 32px 32px;
    z-index: 10;
    padding: 170px 50px;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .header__nav--active {
    visibility: visible;
    transform: none;
  }

  .header__nav--list {
    flex-direction: column;
  }

  .header__nav--item {
    width: 100%;
  }

  .header__nav--item:not(:last-child) {
    margin: 0;
    margin-bottom: 60px;
  }

  .header__nav--link {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333;
  }

  .header__burger--line--active .header__burger--line:first-child {
    left: 0;
    top: 49%;
    transform: rotate(45deg);
    transform-origin: center;
  }

  .header__burger--line--active .header__burger--line:nth-child(2) {
    opacity: 0;
  }

  .header__burger--line--active .header__burger--line:last-child {
    left: 0;
    top: 49%;
    bottom: auto;
    transform: rotate(-45deg);
    transform-origin: center;
  }

  .header__stop--scroll {
    overflow: hidden;
  }

  .header__logo {
    margin: 0;
    width: 150px;
    height: 48px;
  }

  .hero {
    padding-top: 40px;
  }

  .swiper {
    height: 668px;
  }

  .swiper-slide-1 {
    background-position: top right;
  }

  .swiper-slide-2 {
    background-position: top right;
  }

  .hero__content {
    padding: 160px 77px;
  }

  .hero__h1 {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .hero__descr {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .about {
    padding-top: 35px;
  }

  .about__content--top {
    margin-bottom: 60px;
  }

  .about__descr--left {
    max-width: 58%;
  }

  .about__item--right {
    padding: 64px 77px;
  }

  .how {
    padding-top: 80px;
  }

  .how__content--top {
    margin-bottom: 50px;
  }

  .how__item:not(:last-child) {
    margin-right: 86px;
  }

  .how__content--bottom {
    column-gap: 50px;
  }

  .how__article {
    width: 94%;
  }

  .how__article--block {
    margin-bottom: 26px;
  }

  .faq {
    padding-top: 82px;
  }

  .faq__h3 {
    max-width: 750px;
    font-size: 20px;
    line-height: 31px;
  }

  .footer {
    margin-top: 80px;
  }

  .footer__container {
    justify-content: space-evenly;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__right {
    display: none;
  }

  .footer__content--right {
    min-width: 0;
  }

  .footer__center {
    margin: 0;
  }

  .footer__btn {
    padding: 18px 38px;
  }
}

@media (max-width: 1024px) {

  main {
    padding-top: 70px;
  }

  .header {
    padding: 11px 0;
  }

  .header__nav {
    padding: 150px 50px;
  }

  .header__nav--item--reviews {
    display: block;
  }

  .swiper {
    height: 662px;
  }

  .hero__content {
    border-radius: 24px;
    padding: 160px 40px;
  }

  .hero__h1 {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
  }

  .about__content--top {
    margin-bottom: 54px;
  }

  .about__item--left {
    border-radius: 24px;
  }

  .about__item--content--left {
    padding: 34px 40px;
  }

  .about__descr--left {
    max-width: 65%;
  }

  .about__item--right {
    border-radius: 24px;
    padding: 35px 40px;
  }

  .about__item--svg--right {
    margin-right: 17px;
  }

  .how {
    padding-top: 76px;
  }

  .how__h2 {
    margin-bottom: 49px;
  }

  .how__list {
    justify-content: space-between;
  }

  .how__content--bottom {
    flex-direction: column-reverse;
    row-gap: 38px;
  }

  .how__img {
    border-radius: 24px;
    min-height: 284px;
  }

  .how__article {
    width: 100%;
  }

  .how__descr br {
    display: none;
  }

  .how__article--block {
    margin-bottom: 25px;
  }

  .how__btn {
    padding: 19px 37px;
  }

  .faq {
    padding-top: 49px;
  }

  .faq__h3 {
    margin-right: 35px;
  }

  .footer {
    margin-top: 114px;
  }

  .footer__container {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .footer__nav {
    display: none;
  }

  .footer__center {
    width: 81%;
  }

  .footer__logo {
    margin-bottom: 16px;
  }
}

@media (max-width: 767px) {

  main {
    padding-top: 0;
  }

  .header {
    position: static;
  }

  .container {
    padding: 0 15px;
  }

  .btn {
    font-size: 13px;
    line-height: 20px;
  }

  .h2 {
    font-size: 35px;
    line-height: 45px;
  }

  .h3 {
    font-size: 25px;
    line-height: 25px;
  }

  .descr {
    font-size: 16px;
    line-height: 32px;
  }

  .header__nav {
    width: 320px;
    padding: 80px 15px;
  }

  .header__nav--item:not(:last-child) {
    margin-bottom: 32px;
  }

  .header__nav--link {
    font-size: 16px;
    line-height: 20px;
  }

  .swiper {
    height: 600px;
  }

  .hero__content {
    padding: 110px 40px;
  }

  .hero__h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .hero__descr {
    font-size: 17px;
    line-height: 25px;
  }

  .hero__descr br {
    display: none;
  }

  .hero__btn {
    padding: 20px 35px;
    font-size: 16px;
    line-height: 25px;
  }

  .about__item--left {
    min-height: 400px;
    height: 100%;
  }

  .about__item--content--left {
    padding: 25px 30px;
    min-height: 0;
  }

  .about__descr--left {
    max-width: 60%;
    font-size: 13px;
    line-height: 26px;
  }

  .about__btn--left {
    padding: 15px 35px;
  }

  .about__list--right {
    gap: 30px;
  }

  .about__item--right {
    flex-direction: column;
    padding: 30px 35px;
  }

  .about__item--content--right {
    max-width: 100%;
  }

  .about__item--svg--right {
    margin: 0;
    margin-bottom: 20px;
    width: 110px;
    height: 100px;
  }

  .about__h3--right {
    text-align: center;
  }

  .about__descr--right {
    text-align: center;
  }

  .how__content--top {
    margin-bottom: 40px;
  }

  .how__h2 {
    margin-bottom: 40px;
  }

  .how__link {
    font-size: 16px;
    line-height: 20px;
  }

  .how__content--bottom {
    row-gap: 30px;
  }

  .how__article--block {
    margin-bottom: 20px;
  }

  .how__btn {
    padding: 15px 35px;
  }

  .faq__h2 {
    margin-bottom: 25px;
  }

  .faq__h3 {
    font-size: 19px;
    line-height: 26px;
  }

  .footer {
    margin-top: 90px;
  }

  .footer__container {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  .footer__content--right {
    justify-content: center;
  }

  .footer__btn {
    padding: 16px 35px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .footer__logo {
    width: 200px;
    height: 60px;
  }

  .footer__social--link svg {
    width: 50px;
    height: 50px;
  }

  .footer__social--link:not(:last-child) {
    margin-right: 20px;
  }
}

@media (max-width: 576px) {

  .container {
    padding: 0 15px;
  }

  .header {
    padding: 17px 0;
  }

  .header__logo {
    width: 110px;
    height: 35px;
  }

  .header__img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }

  .header__logo span {
    font-size: 20px;
    line-height: 0;
  }

  .header__form {
    padding: 20px 15px;
    border-radius: 0px 0px 24px 24px;
  }

  .header__form--input {
    margin: 0;
    width: 222px;
    font-size: 16px;
    line-height: 20px;
  }

  .hero {
    padding-top: 30px;
  }

  .swiper {
    height: 308px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: auto;
    padding: 60px 22px;
    border-radius: 16px;
  }

  .hero__h1 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__descr {
    max-width: 350px;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__descr br {
    display: none;
  }

  .hero__btn {
    padding: 12px 27px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .about {
    padding-top: 60px;
  }

  .about__h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .about__content--top {
    margin-bottom: 14px;
  }

  .about__list--left {
    min-height: 400px;
  }

  .about__item--left {
    position: relative;
    border-radius: 16px;
    background-position: center top;
    overflow: visible;
    height: 0;
    min-height: 0;
    padding-top: 200px;
  }

  .about__item--left {
    background-color: transparent;
  }

  #myMap-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  #myMap-1 .ymaps-2-1-79-map {
    height: 200px !important;
  }

  .about__item--content--left {
    position: static;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 8px;
    flex-direction: column;
    min-height: 0;
    padding: 0;
    background-color: transparent;
  }

  .about__descr--left {
    margin: 0;
    margin-bottom: 10px;
    max-width: 350px;
  }

  .about__address--left {
    color: var(--elipse-18-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .about__btn--left {
    border-radius: 8px;
    padding: 10px 42px;
    font-size: 12px;
    line-height: 15px;
    color: var(--elipse-12-color);
  }

  .about__btn--left.focus-visible {
    color: var(--elipse-17-color);
  }

  .about__btn--left:hover {
    color: var(--elipse-17-color);
  }

  .about__btn--left:active {
    color: var(--elipse-17-color);
  }

  .about__item--right {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    padding: 0;
    background-color: transparent;
  }

  .about__item--right.focus-visible,
  .about__item--right:hover,
  .about__item--right:active {
    background-color: transparent;
  }

  .about__item--content--right {
    max-width: 100%;
  }

  .about__item--svg--right {
    margin-bottom: 5px;
    width: 64px;
    height: 55px;
  }

  .about__h3--right {
    margin-bottom: 4px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about__descr--right {
    font-size: 14px;
    line-height: 28px;
    text-align: left;
  }

  .about__item--right.focus-visible .about__h3--right,
  .about__item--right:hover .about__h3--right,
  .about__item--right:active .about__h3--right {
    color: var(--elipse-18-color);
  }

  .about__item--right.focus-visible .about__descr--right,
  .about__item--right:hover .about__descr--right,
  .about__item--right:active .about__descr--right {
    color: var(--elipse-18-color);
  }

  .how {
    padding-top: 63px;
  }

  .how__content--top {
    margin-bottom: 16px;
  }

  .how__h2 {
    margin-bottom: 21px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  .how__item:not(:last-child) {
    margin: 0;
  }

  .how__link {
    font-size: 14px;
    line-height: 17px;
  }

  .how__content--bottom {
    row-gap: 19px;
  }

  .how__img {
    min-height: 160px;
    border-radius: 16px;
  }

  .how__article--block {
    margin-bottom: 25px;
  }

  .how__h3 {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
  }

  .how__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .how__btn {
    border-radius: 8px;
    font-size: 12px;
    line-height: 12px;
  }

  .how__btn:not(:last-child) {
    margin-right: 10px;
  }

  .how__btn--left {
    padding: 12px 44px;
  }

  .how__btn--right {
    padding: 12px 32px;
  }

  .faq {
    padding-top: 60px;
  }

  .faq__h2 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 29px;
  }

  .faq__h3 {
    margin-right: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__svg {
    align-self: center;
    max-height: 30px;
  }

  .faq__svg svg {
    max-width: 30px;
    max-height: 30px;
  }

  .faq__accordion--text {
    font-size: 14px;
    line-height: 28px;
  }

  .footer {
    margin-top: 56px;
  }

  .footer__container {
    gap: 16px;
    padding-top: 33px;
    padding-bottom: 31px;
  }

  .footer__h2 {
    margin: auto;
    margin-bottom: 20px;
    max-width: 400px;
    font-size: 24px;
    line-height: 29px;
  }

  .footer__center {
    width: 100%;
  }

  .footer__form {
    margin: auto;
    max-width: 400px;
  }

  .footer__input,
  .footer__textarea {
    padding: 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__textarea {
    margin-bottom: 25px;
  }

  .footer__btn {
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 13px;
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid var(--elipse-16-color);
    margin: 0;
  }

  .footer__logo {
    margin: 0;
    margin-bottom: 15px;
    width: 110px;
    height: 42px;
  }

  .footer__logo img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }

  .footer__logo span {
    font-size: 20px;
    line-height: 0;
  }

  .footer__social--link:not(:last-child) {
    margin-right: 16px;
  }

  .footer__social--link svg {
    width: 40px;
    height: 40px;
  }
}


/*  */
/*  */
/* ---Calculator.html style ------------------------------------------------------------------------------ */

/* header-calc */
.header__address--calc {
  font-style: normal;
}

.header__address--list--top--calc {
  column-gap: 25px;
}

.header__address--link--calc {
  column-gap: 10px;
  align-items: center;
}

.header__address--link--calc {
  position: relative;
}

.header__address--descr--calc {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--elipse-18-color);
  transition: color 0.2s linear;
}

.header__address--link--calc.focus-visible {
  outline-offset: 5px;
  outline: 2px solid var(--elipse-12-color, #FF9900);
}

.header__address--link--calc::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  bottom: -7px;
  width: 100%;
  height: 3px;
  background-color: var(--elipse-12-color, #FF9900);
  outline: none;
  opacity: 0;
  transition: background-color 0.2s linear, opacity 0.2s linear;
}

.header__address--link--calc:hover::after {
  outline: none;
  opacity: 1;
}

.header__address--link--calc:hover {
  outline: none;
}

.header__address--link--calc:active::after {
  outline: none;
  background-color: var(--elipse-15-color, #E1670E);
  opacity: 1;
}

.header__address--link--calc:active .header__address--descr--calc {
  outline: none;
  color: var(--elipse-15-color, #E1670E);
}

/* hero-calc */
.hero__btn--container--calc {
  max-width: 840px;
  justify-content: space-between;
}

/* calculator-calc */
.calculator {
  margin: 0 auto;
  padding-top: 60px;
  border-radius: 5px;
}

.calculator__h2 {
  max-width: 1400px;
  margin: auto;
  margin-bottom: 30px;
  font-weight: 600;
}

.calculator__container--border {
  max-width: 1024px;
  margin: auto;
  border: 2px solid var(--elipse-15-color);
  border-radius: 30px;
  padding: 20px 35px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.calculator__container--border:hover {
  border: 2px solid var(--elipse-12-color);
  background-color: #0589bd;
}

.calculator__form--group {
  margin-bottom: 15px;
}

.calculator__form--group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
}

.calculator__form--group select,
.calculator__form--group input[type="number"] {
  width: 100%;
  height: 55px;
  padding: 15px;
  border: 2px solid var(--elipse-16-color);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  background-color: floralwhite;
  cursor: pointer;
}

.calculator__form--checked--top {
  margin-bottom: 20px;
}

.calculator__form--checked--bottom {
  margin-bottom: 40px;
}

.calculator__form--checked label {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
}

.calculator__form--checked input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  vertical-align: sub;
  cursor: pointer;
}

.calculator__button[type="submit"] {
  padding: 18px 37px;
  cursor: pointer;
}

.calculator__container--result {
  margin-top: 20px;
}

.calculator__descr--result {
  display: inline;
}

#calculator__result,
#calculator__result--banner {
  display: inline;
  font-size: 30px;
  font-weight: 400;
  line-height: 150%;
}

/* calculator-animation */
.calculator__container--border label,
.calculator__container--border .tooltip__descr,
.calculator__container--border #calculator__result,
.calculator__container--border #calculator__result--banner {
  transition: color 0.3s ease-in-out;
}

.calculator__container--border:hover label,
.calculator__container--border:hover #calculator__result,
.calculator__container--border:hover #calculator__result--banner {
  color: var(--elipse-17-color)
}

.calculator__container--border:hover .tooltip__descr {
  color: rgb(255, 0, 0);
}

#calculator__location,
#calculator__quantity,
#calculator__season,
#calculator__location--banner,
#calculator__quantity--banner,
#calculator__season--banner {
  outline: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

#calculator__location:focus,
#calculator__quantity:focus,
#calculator__season:focus,
#calculator__location--banner:focus,
#calculator__quantity--banne:focus,
#calculator__season--banner:focus {
  background-color: var(--elipse-21-color);
  border: 2px solid var(--elipse-17-color);
}

#calculator__location:hover,
#calculator__quantity:hover,
#calculator__season:hover,
#calculator__location--banner:hover,
#calculator__quantity--banner:hover,
#calculator__season--banner:hover {
  background-color: var(--elipse-21-color);
  border: 2px solid var(--elipse-17-color);
}

.calculator__container--border .calculator__button {
  background-color: var(--elipse-12-color);
  color: var(--elipse-17-color);
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.calculator__container--border .calculator__button:focus {
  transform: none;
}

.calculator__container--border .calculator__button:active {
  transform: perspective(1px) translateZ(0px);
}

.calculator__container--border:hover .calculator__button {
  background-color: #f1b620;
}

/* tooltip */
.tooltip__container {
  display: inline;
}

.tooltip__content {
  display: inline;
  margin: 0;
}

.tooltip__descr {
  display: inline;
  margin: 0;
  font-weight: 500;
  font-size: 30px;
  line-height: 32px;
  color: var(--elipse-18-color);
}

.tooltip,
.tooltip__market,
.tooltip__popup {
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: baseline;
}

.tooltip__market {
  display: inline-block;
  position: relative;
  width: inherit;
  height: inherit;
  cursor: pointer;
}

.tooltip__market::before {
  content: "";
  position: absolute;
  z-index: 10;
  bottom: calc(100% + 5px);
  width: 15px;
  height: 15px;
  background-color: #666;
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  opacity: 0;
}

.tooltip__market:focus::before {
  opacity: 1;
}

.tooltip__market:hover::before {
  opacity: 1;
}

.tooltip__market svg path {
  fill: #bcbcbc;
  transition: fill 0.3s;
}

.tooltip__popup {
  display: none;
  position: absolute;
  left: calc(-147px / 2);
  bottom: calc(100% + 11px);
  z-index: 20;
  width: 400px;
  min-height: 31px;
  padding: 7px 15px;
  opacity: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  word-spacing: 3px;
  text-align: center;
  border-radius: 10px;
  background-color: #666;
  color: #FFFFFF;
}

.tooltip__market:focus+.tooltip__popup {
  display: block;
  opacity: 1;
}

.tooltip__market:focus svg path {
  fill: #CCB26E;
}

.tooltip__market:hover+.tooltip__popup {
  display: block;
  opacity: 1;
}

.tooltip__market:hover svg path {
  fill: #CCB26E;
}

@media (max-width: 1024px) {

  /* header-calc */
  .header__address--item--top--calc-display-none {
    display: none;
  }

  /* hero-calc */
  .hero__btn--container--calc {
    margin: auto;
    max-width: 450px;
    flex-direction: column;
    row-gap: 30px;
  }

  .swiper__calc {
    height: 800px;
  }
}

@media (max-width: 768px) {
  .header__address--descr--calc {
    font-size: 14px;
  }


  .swiper__calc {
    height: 700px;
  }

  .calculator__h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
  }

  .calculator__form--group label,
  .calculator__form--checked label {
    font-size: 20px;
  }

  .calculator__form--checked input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }

  .calculator__form--group select,
  .calculator__form--group input[type="number"] {
    font-weight: 500;
    font-size: 13px;
  }

  #calculator__result,
  #calculator__result--banner {
    font-size: 20px;
  }
}


@media (max-width: 576px) {
  .header__address--list--top--calc {
    column-gap: 15px;
  }

  .header__address--link--calc {
    column-gap: 5px;
  }

  .header__address--descr--calc {
    font-weight: 500;
    font-size: 11px;
  }

  .swiper__calc {
    height: 400px;
  }

  .calculator__container--border {
    padding: 15px 20px;
  }

  .calculator__h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }

  .calculator__form--group label,
  .calculator__form--checked label {
    font-size: 14px;
    font-weight: 500;
  }

  .calculator__form--checked input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-left: 5px;
  }

  .calculator__form--group select,
  .calculator__form--group input[type="number"] {
    height: 50px;
    padding: 10px;
    font-weight: 500;
    font-size: 12px;
  }

  .calculator__form--checked--top {
    margin-bottom: 5px;
  }

  .calculator__form--checked--bottom {
    margin-bottom: 20px;
  }

  .calculator__button[type="submit"] {
    padding: 13px 30px;
  }

  .calculator__container--result {
    margin-top: 20px;
  }

  .tooltip__descr {
    font-size: 25px;
    line-height: 100%;
  }

  .tooltip__popup {
    left: calc(-180px / 2);
    width: 210px;
  }

  #calculator__result,
  #calculator__result--banner {
    font-size: 15px;
    font-weight: 500;
    line-height: 200%;
  }
}

@media (max-width: 400px) {
  .header__address--list--top--calc {
    flex-direction: column;
    row-gap: 5px;
  }

  .header__address--link--calc {
    justify-content: space-between;
  }
}
